.col-acoes {
  width: 50px;
  text-align: center;
}
.col-codigo {
  width: 50px;
}
.col-nome {
  width: 500px;
}
.col-preco {
  width: 50px;
}
.botoes {
  margin-top: 24px;
}
.btn {
  width: 100px;
  font-size: 1rem;
}